/* You can add global styles to this file, and also import other style files */

.custom-table :hover {
    background-color: #f1eee3; /* Light gray background on row hover */
  }
.custom-table {
    background-color: #f8f9fa; /* Light gray background */
    border: 6px solid #0779d6; /* Border around the table */
    border-radius: 8px; /* Rounded corners */
  }
  
  .custom-table th {
    background-color: #343a40; /* Dark background for headers */
    color: #f5eeee; /* White text color for headers */
    text-align: center;
  }
  
  .custom-table td {
    padding: 10px; /* Padding inside table cells */
    text-align: center; /* Center-align text in cells */
  }